/* Bootstrap Resets */

ul {
  padding: 0;
}

/* Begins gameboard styling */
#tictac-wrapper {
  padding: 5%;
  margin: 50px auto;
  text-align: center;
}

button#start {
  text-align: center;
}

#scoreboard ul li {
  text-decoration: none;
  display: inline-block;
}
#gameboard-wrapper .row{
  margin:0 auto;
  text-align:center;
}
#gameboard-wrapper .space {
  text-decoration: none;
  display: inline-block;
  margin-bottom:5px;
  float:none;
  font-size:1em;
  min-height:75px;
  max-height:75px;
  height:100%;
  padding: 23px;
  transition: background-color 0.5s ease;
  border:3px solid #000;
  vertical-align: middle;
  width:40px;
  line-height: 70px;
}
#gameboard-wrapper .enabled {
background-color:rgba(63, 191, 191, 0.25);
}
#gameboard-wrapper .player-one{
  background-color:rgba(191, 63, 63, 0.25);
}
#gameboard-wrapper .player-two{
  background-color:rgba(63, 127, 191, 0.25);
}
#gameboard-wrapper .space:hover {
  background-color:rgba(63, 191, 63, 0.19);
  transition: background-color 0.5s ease;
  cursor:pointer;
}